{% extends 'base.html' %}

{% load static %}

{% block content %}
<style>
    /* Menambahkan CSS untuk mengatur latar background layar */
    body {
        background-color: rgb(210, 145, 255);
        font-family: 'Times New Roman', Times, serif;
        display: flex;
        justify-content: center; /* Mengatur elemen .login agar berada di tengah horizontal */
        align-items: center; /* Mengatur elemen .login agar berada di tengah vertikal */
        height: 100vh; /* Mengisi tinggi halaman dengan viewport height (100%) */
        margin: 0; /* Menghapus margin default body */
    }

    .login {
        background-color: white; /* Mengatur latar belakang kotak login menjadi putih */
        padding: 30px; /* Menambahkan jarak antara konten dengan tepi kotak login */
        border-radius: 10px; /* Mengubah sudut kotak login menjadi bulat */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Menambahkan efek bayangan pada kotak login */
    }

    /* Menambahkan style pada teks dan tombol */
    h1 {
        font-family: 'Times New Roman', Times, serif;
        color: rgb(210, 145, 255);
    }

    /* Styling input */
    .form-control {
        width: 100%; /* Mengisi lebar input */
        padding: 10px; /* Menambahkan jarak di dalam input */
        border: 1px solid #ccc; /* Menambahkan border input */
        border-radius: 5px; /* Mengubah sudut input menjadi bulat */
        margin-bottom: 10px; /* Menambahkan jarak antara input */
    }

    /* Styling tombol Edit Item */
    input[type="submit"] {
        background-color: rgb(90, 15, 130); /* Mengubah warna backround tombol Edit Item */
        color: white; /* Mengubah warna teks tombol Edit Item */
        padding: 10px 20px; /* Menambahkan jarak di dalam tombol Edit Item */
        border: none; /* Menghapus border tombol */
        border-radius: 5px; /* Mengubah sudut tombol menjadi bulat */
        cursor: pointer; /* Mengubah kursor saat diarahkan ke tombol */
        font-family: 'Times New Roman', Times, serif;
        font-size: 14px;
    }

</style>

<div class="login">
    <h1>Edit Item</h1>

    <form method="POST">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
            <tr>
                <td></td>
                <td style="text-align: center;"><input class="btn login_btn" type="submit" value="Edit Item"></td>
            </tr>
        </table>
    </form>
</div>

{% endblock content %}