{% extends 'base.html' %}

{% block content %}
<style>
    body {
        font-family: 'Times New Roman', Times, serif;
        background-color: rgb(210, 145, 255);  /* Mengatur warna background layar */
        color: white; /* Mengubah warna teks menjadi putih */
        padding: 20px; /* Menambahkan padding pada konten */
        margin: 0;  /* Menghapus margin default body */
    }
    h1 {
        font-family: 'Times New Roman', Times, serif;
        color: white; /* Mengubah warna teks menjadi putih */
        font-size: 22px; /* Mengatur ukuran teks */
    }
    h5 {
        font-family: 'Times New Roman', Times, serif;
        color: black; /* Mengubah warna teks menjadi putih */
        font-size: 22px; /* Mengatur ukuran teks */
    }
    .mb-3 {
        font-family: 'Times New Roman', Times, serif;
        color: black; /* Mengubah warna teks menjadi putih */
        font-size: 18px; /* Mengatur ukuran teks */
    }
    h6 {
        font-family: 'Times New Roman', Times, serif;
        color: black; /* Mengubah warna teks menjadi hitam */
        font-size: 22px; /* Mengatur ukuran teks */
        margin: 10px 0 0 0; /* Menambahkan margin pada konten */
    }
    h4 {
        font-family: 'Times New Roman', Times, serif;
        color: black; /* Mengubah warna teks menjadi hitam */
        font-size: 18px; /* Mengatur ukuran teks */
        margin: 30px 0 0 0; /* Menambahkan margin pada konten */
    }
    p {
        font-family: 'Times New Roman', Times, serif;
        color: black; /* Mengubah warna teks menjadi hitam */
        font-size: 15px; /* Mengatur ukuran teks */
    }
    table {
        font-family: 'Times New Roman', Times, serif;
        color: black; /* Mengubah warna teks pada tabel menjadi hitam */
    }
    .navbar {
        background-color: rgb(90, 15, 130); /* Mengatur warna background navbar */
        color: white; /* Mengubah warna teks navbar menjadi putih */
        padding: 10px 20px; /* Menambahkan padding atas dan bawah navbar */
        text-align: center; /* Mengatur teks navbar menjadi di tengah */
        width: 100%;
        bottom: 5px;
        
    }
    .card {
        background-color: #f2f2f2; /* Mengatur warna background card */
        color: #333; /* Mengubah warna teks card */
        border-radius: 5px; /* Mengubah sudut card menjadi bulat */
        padding: 10px; /* Menambahkan padding pada card */
        margin: 10px; /* Menambahkan margin di antara card */
        display: inline-block; /* Mengatur card agar berdampingan */
        width: calc(33.33% - 30px); /* Mengatur lebar card agar 3 card per baris */
        text-align: center; /* Mengatur teks di tengah card */
    }
    .card a {
        color: rgb(90, 15, 130); /* Mengubah warna tautan di dalam card */
        text-decoration: none; /* Menghapus garis bawah pada tautan */
        font-weight: bold; /* Mengatur teks tautan menjadi tebal */
    }
    

    /* Style untuk card item terakhir */
    .last-card {
        background-color: #E75480;
        color: white;
    }

    .last-card a {
        color: #FFB6C1; /* Mengubah warna tautan di dalam card */
        text-decoration: none; /* Menghapus garis bawah pada tautan */
        font-weight: bold; /* Mengatur teks tautan menjadi tebal */
    }

    /* Style untuk teks "Sesi terakhir login" */
    .last-login-text {
        position: fixed;
        bottom: 10px;
        right: 10px;
        color: black;
        font-size: 12px;
    }
    


    
</style>

<div class="navbar">
    <h1>BeautyBrews Co. Page</h1> 
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Welcome, {{ user.username }}!
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{% url 'main:create_item' %}">Add New Item</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="{% url 'main:logout' %}">Logout</a></li>
        </ul>
      </li>
</div>



<h6>Class:</h6>
<p>{{ class }}</p>

<h4> Anda menyimpan <span id="item-count">{{ items.count }}</span> item disini</h4>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Product by AJAX</button>

<div id="item_table"></div>

<!--- add item by AJAX -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fs-5" id="exampleModalLabel">Add New Item</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form" onsubmit="return false;">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="name" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="name" name="name"></input>
                    </div>
                    <div class="mb-3">
                        <label for="amount" class="col-form-label">Amount:</label>
                        <input type="number" class="form-control" id="price" name="amount"></input>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="col-form-label">Description:</label>
                        <textarea class="form-control" id="description" name="description"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Item</button>
            </div>
        </div>
    </div>
</div>


<div class="last-login-text">
    Sesi terakhir login: {{ last_login }}
</div>
<br />



<script>
    async function getItems() {
        return fetch("{% url 'main:get_item_json' %}").then((res) => res.json())
    }

    async function refreshItems() {
        document.getElementById("item_table").innerHTML = ""
        const items = await getItems()
        let htmlString = ""
        items.forEach((item) => {
            htmlString += `
            <div class="card">
                <div class="card-body">
                    
                         <h3>${ item.fields.name }</h3>
                         <p>Amount: ${ item.fields.amount }</p>
                         <p>Description: ${ item.fields.description }</p>
                         
                     </div>
                 </div>
             </div>`;
        })
    
        document.getElementById("item_table").innerHTML = htmlString;  
        const itemCountElement = document.querySelector(`#item-count`);
        itemCountElement.textContent = items.length;  

    }
    refreshItems()


    async function addItem() {
        fetch("{% url 'main:add_item_ajax' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        }).then(refreshItems)
        document.getElementById("form").reset()
        return false
    }
    document.getElementById("button_add").onclick = addItem



</script>

{% endblock content %}